version: "3.9"

services:
  app:
    build: .
    container_name: kartoteka-server-new
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: ["uvicorn", "server:app", "--host", "0.0.0.0", "--port", "8000"]
